NET "clk" PERIOD = 100.0ns ;
NET "kernal" LOC = "16" ;
NET "cia2" LOC = "13" ;
NET "casram" LOC = "18" ;
NET "ramrw" LOC = "20" ;
NET "charom" LOC = "14" ;
NET "basic" LOC = "15" ;
NET "io" LOC = "25" ;
NET "colram" LOC = "17" ;
NET "clk" LOC = "22" ;
NET "ma<6>" LOC = "28" ;
NET "phi0" LOC = "23" ;
NET "ma<4>" LOC = "33" ;
NET "ma<0>" LOC = "36" ;
NET "misc3" LOC = "27" ;
NET "ma<7>" LOC = "29" ;
NET "dir2" LOC = "39" ;
NET "ma<5>" LOC = "30" ;
NET "a<13>" LOC = "40" ;
NET "dir1" LOC = "87" ;
NET "ras" LOC = "94" ;
NET "oe" LOC = "91" ;
NET "va6" LOC = "93" ;
NET "ba" LOC = "95" ;
NET "misc2" LOC = "96" ;
NET "sid" LOC = "3" ;
NET "aec" LOC = "97" ;
NET "exrom" LOC = "99" ;
NET "cas" LOC = "1" ;
NET "vic" LOC = "4" ;
NET "cia1" LOC = "6" ;
NET "roml" LOC = "8" ;
NET "io2" LOC = "9" ;
NET "romh" LOC = "11" ;
NET "io1" LOC = "10" ;
NET "nmi" LOC = "12" ;
NET "va7" LOC = "92" ;
NET "a<14>" LOC = "41" ;
NET "ma<1>" LOC = "32" ;
NET "rw" LOC = "49" ;
NET "loram" LOC = "50" ;
NET "ma<2>" LOC = "35" ;
NET "a<11>" LOC = "53" ;
NET "a<10>" LOC = "54" ;
NET "ma<3>" LOC = "37" ;
NET "a<15>" LOC = "42" ;
NET "a<6>" LOC = "60" ;
NET "a<12>" LOC = "52" ;
NET "a<5>" LOC = "61" ;
NET "a<4>" LOC = "63" ;
NET "a<9>" LOC = "55" ;
NET "a<8>" LOC = "56" ;
NET "a<3>" LOC = "64" ;
NET "misc1" LOC = "58" ;
NET "a<7>" LOC = "59" ;
NET "a<2>" LOC = "65" ;
NET "a<0>" LOC = "67" ;
NET "charen" LOC = "71" ;
NET "hiram" LOC = "72" ;
NET "va<14>" LOC = "68" ;
NET "va<15>" LOC = "76" ;
NET "aux<7>" LOC = "77" ;
NET "restore" LOC = "70" ;
NET "a<1>" LOC = "66" ;
NET "aux<4>" LOC = "81" ;
NET "game" LOC = "74" ;
NET "aux<3>" LOC = "82" ;
NET "aux<2>" LOC = "85" ;
NET "aux<6>" LOC = "78" ;
NET "aux<0>" LOC = "89" ;
NET "aux<1>" LOC = "86" ;
NET "aux_dir" LOC = "90" ;
NET "aux<5>" LOC = "79" ;
